.search-container {
  position: relative;
  width: 100%;
  height: 280px;
  background: url("../assets/images/pattern-bg.png") no-repeat center center;
  background-size: cover;
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 560px;
    .heading-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .search-wrapper {
      display: flex;
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 50px 50px #00000019;
      background-color: $black;
      margin-bottom: 50px;
      input {
        width: 100%;
        padding: 20px;
        font-family: "Rubik", sans-serif;
        border: none;
        outline: none;
      }
      .search-btn {
        background: url("../assets/images/icon-arrow.svg") no-repeat center
          center;
        width: 60px;
      }
    }
  }
}

.results-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
  z-index: 2;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 50px 50px #00000019;
  background: #ffffff 0% 0% no-repeat padding-box;
  .results-item {
    padding: 40px 30px 70px;
    position: relative;
    &:last-of-type {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "";
      background-color: $grey;
      width: 1px;
      height: 75px;
      display: block;
      position: absolute;
      right: -40px;
      top: 50px;
    }
    .heading {
      font-size: 1.2rem;
      font-weight: 700;
      color: $light-black;
      text-transform: uppercase;
      letter-spacing: 1.75px;
      opacity: 0.5;
      padding-bottom: 20px;
    }
    .result {
      font-size: 2.6rem;
      font-weight: 500;
      color: $black;
      letter-spacing: -0.23px;
    }
  }
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  #map {
    height: 100%;
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
  }
}
