.search-container {
  position: relative;
  width: 100%;
  height: 280px;
  background: url("../assets/images/pattern-bg.png") no-repeat center center;
  background-size: cover;
  @include sm {
    height: 300px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 560px;
    @include sm {
      padding: 0 20px;
      max-width: 100%;
    }
    .heading-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .search-wrapper {
      display: flex;
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 50px 50px #00000019;
      background-color: $black;
      margin-bottom: 50px;
      @include sm {
        max-width: 100%;
      }
      input {
        width: 100%;
        padding: 20px;
        font-family: "Rubik", sans-serif;
        border: none;
        outline: none;
        border-radius: 15px 0 0 15px;
        @include sm {
          font-size: 1.4rem;
        }
      }
      .search-btn {
        background: url("../assets/images/icon-arrow.svg") no-repeat center
          center;
        width: 60px;
      }
      .empty-field {
        border: 1px solid lightcoral;
        color: lightcoral;
      }
    }
  }
}

.results-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
  z-index: 2000;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 50px 50px #00000019;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: none;
  @include md {
    max-width: 90%;
  }
  @include sm {
    margin: 0 20px;
    transform: translate(0, 0);
    left: 0;
  }
  &.show {
    display: flex;
  }
  #result-data {
    display: flex;
    width: 100%;
    @include sm {
      flex-direction: column;
    }
  }
  .results-item {
    padding: 40px 30px 70px;
    position: relative;
    @include sm {
      text-align: center;
      padding: 20px 30px 20px;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
    &::after {
      content: "";
      background-color: $grey;
      width: 1px;
      height: 75px;
      display: block;
      position: absolute;
      right: 0;
      top: 50px;
      @include sm {
        display: none;
      }
    }
    .heading {
      font-size: 1.2rem;
      font-weight: 700;
      color: $light-black;
      text-transform: uppercase;
      letter-spacing: 1.75px;
      opacity: 0.5;
      padding-bottom: 20px;
      @include sm {
        font-size: 1rem;
        padding-bottom: 10px;
      }
    }
    .result {
      font-size: 2.6rem;
      font-weight: 500;
      color: $black;
      letter-spacing: -0.23px;
      @include sm {
        font-size: 2rem;
      }
    }
  }
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  @include sm {
    min-height: 100vh;
  }
  #ipLocation {
    height: 100%;
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
    @include sm {
      min-height: 100vh;
    }
  }
}
